<launch>

  <arg name="rviz" default="true" />
  <arg name="scanPeriod" default="0.1" />

  <param name="/use_sim_time" value="true" />

  <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 0   0      1.570795 /map    /camera_init 100" />
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_camera"  args="0 0 0 -1.570795 -1.570795 0 /camera    /velodyne 100" />
  <node pkg="tf" type="static_transform_publisher" name="mynteye_imu_frame_to_velodyne"  args="0 0 0 0   0        0 /velodyne    /mynteye_imu_frame 100" />

  <node pkg="loam_velodyne" type="multiScanRegistration" name="multiScanRegistration" output="screen">
    <param name="lidar" value="VLP-16" /> <!-- options: VLP-16  HDL-32  HDL-64E -->
    <param name="scanPeriod" value="$(arg scanPeriod)" />

    <remap from="/multi_scan_points" to="/velodyne_points" />
      <!--  <remap from="/imu/data" to="/razor/imu/data" /> -->
  </node>

  <node pkg="loam_velodyne" type="laserOdometry" name="laserOdometry" output="screen" respawn="true">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
  </node>

  <node pkg="loam_velodyne" type="laserMapping" name="laserMapping" output="screen">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
      <!--  <remap from="/imu/data" to="/razor/imu/data" /> -->
  </node>

  <node pkg="loam_velodyne" type="transformMaintenance" name="transformMaintenance" output="screen">
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne)/rviz_cfg/loam_velodyne.rviz" />
  </group>

  <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
        args="-o /mnt/h/result_data
        /aft_mapped_to_init
        /integrated_to_init
        /laser_odom_to_init">
  </node>




</launch>
